- breadcrumb :user
%h1 Your profile

.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.firstname')
  .panel-body#userpadding#usercontent
    = user.firstname
    
.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.lastname')
  .panel-body#usercontent
    = user.lastname

.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.nickname')
  .panel-body#usercontent
    = user.nickname
    
.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.email')
  .panel-body#usercontent
    = user.email
  
.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.created_at')
  .panel-body#usercontent
    = user.created_at.strftime('%d-%m-%Y')

.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.cash_amount')
  .panel-body#usercontent
    = user.cash_amount
    %br 
    %br
    = link_to 'Make a deposit', new_deposit_path, class: 'btn btn-primary'

.panel.panel-default
  .panel.panel-primary#threviews
    = t('user.columns.avatar')
  .panel-body#usercontent
    = avatar_for(user)

%br
-if current_user.products.empty?
  #empty You haven't got any products.
-else
  %h2#center Your products
  %br
  %table.table.table-stripted
    %tr
      %th#threviews= t('product.columns.title')
      %th#threviews= t('product.columns.price')
      %th#threviews= t('product.columns.quantity')
      %th#threviews= t('product.columns.time')
    - current_user.products.reverse_order.last(15).each do |product|
      %tr
        %td= product.title
        %td= product.price
        %td= product.on_stock
        %td= product.created_at.strftime('%d-%m-%Y %H:%M:%S')

%br
-if current_user.payments.empty?
  #empty You haven't bought any products.
-else
  %h2#center Your last purchases
  %br
  %table.table.table-stripted
    %tr
      %th#threviews= t('payment.product.columns.title')
      %th#threviews= t('payment.product.columns.price')
      %th#threviews= t('payment.columns.quantity')
      %th#threviews= t('payment.columns.amount')
      %th#threviews= t('payment.columns.created_at')
    - current_user.payments.reverse_order.last(5).each do |payment|
      %tr
        %td= payment.product.title
        %td= payment.product.price
        %td= payment.quantity
        %td= payment.amount
        %td= payment.created_at.strftime('%d-%m-%Y %H:%M:%S')

%br
-if current_user.reviews.empty?
  #empty You haven't got any reviews
-else
  %h2#center Your last reviews
  %br
  %table.table.table-stripted
    %tr
      %th#threviews= t('review.product.columns.title')
      %th#threviews= t('review.columns.content')
      %th#threviews= t('review.columns.rating')
      %th#threviews= t('review.columns.created_at')
    - current_user.reviews.reverse_order.last(5).each do |review|
      %tr
        %td= review.product.title
        %td= review.content
        %td= review.rating
        %td= review.created_at.strftime('%d-%m-%Y %H:%M:%S')

%br
-if current_user.deposits.empty?
  #empty You haven't made any deposits.
-else
  %h2#center Your last deposits
  %br
  %table.table.table-stripted
    %tr
      %th#threviews= t('deposit.columns.amount')
      %th#threviews= t('deposit.columns.created_at')
    - current_user.deposits.last(5).each do |deposit|
      %tr
        %td= deposit.amount
        %td= deposit.created_at.strftime('%d-%m-%Y %H:%M:%S')
=link_to t('shared.edit'), edit_user_path(current_user), class: 'btn btn-primary'
  