-#= binding.pry
%h1 Your profile

.panel.panel-default
  .panel.panel-primary#threviews
    First name:
  .panel-body#userpadding#usercontent
    = user.firstname
    
.panel.panel-default
  .panel.panel-primary#threviews
    Last name:
  .panel-body#usercontent
    = user.lastname

.panel.panel-default
  .panel.panel-primary#threviews
    Nickname:
  .panel-body#usercontent
    = user.nickname
    
.panel.panel-default
  .panel.panel-primary#threviews
    Email:
  .panel-body#usercontent
    = user.email
  
.panel.panel-default
  .panel.panel-primary#threviews
    Account created at:
  .panel-body#usercontent
    = user.created_at.strftime('%d-%m-%Y')

.panel.panel-default
  .panel.panel-primary#threviews
    Your account balance:
  .panel-body#usercontent
    = user.cash_amount
    %br 
    %br
    = link_to 'Make a deposit', new_deposit_path, class: 'btn btn-primary'

.panel.panel-default
  .panel.panel-primary#threviews
    Avatar:
  .panel-body#usercontent
    = avatar_for(user)

%br
-if current_user.payments.empty?
  #empty You haven't bought any products.
-else
  %h2#center Your last purchases
  %br
  %table.table.table-stripted
    %tr
      %th#threviews Product:
      %th#threviews Price:
      %th#threviews Quantity:
      %th#threviews Amount:
      %th#threviews Time:
    - current_user.payments.last(5).each do |payment|
      %tr
        %td= payment.product.title
        %td= payment.product.price
        %td= payment.quantity
        %td= payment.amount
        %td= payment.created_at.strftime('%d-%m-%Y %H:%M:%S')

%br
-if current_user.reviews.empty?
  #empty You haven't got any reviews
-else
  %h2#center Your last reviews
  %br
  %table.table.table-stripted
    %tr
      %th#threviews Product:
      %th#threviews Review content:
      %th#threviews Review rating:
      %th#threviews Created at:
    - current_user.reviews.last(5).each do |review|
      %tr
        %td= review.product.title
        %td= review.content
        %td= review.rating
        %td= review.created_at.strftime('%d-%m-%Y %H:%M:%S')
=link_to "Edit", edit_user_path(current_user), class: 'btn btn-primary'
  