%h3 Hi, #{@current_user.firstname + " " + @current_user.lastname}
%h4 You have bought #{@payment.product.title}
%h4 Payment details: 
%p product: #{@payment.product.title}
%p description: #{@payment.product.description}
%p owner: #{@payment.product.user.email}
%p category: #{@payment.product.category.name}
%p price: #{@payment.product.price}
%p quantity: #{@payment.quantity}
%p amount: #{@payment.amount}
%p time: #{@payment.created_at.strftime('%d-%m-%Y %H:%M:%S')}
