.panel.panel-default  
  .panel-body#usercontent
    %b= t('payment.product.columns.title')
    #italic= markdown(payment.product.title)
    %br
    %b= t('payment.columns.quantity')
    #italic= payment.quantity
    %br
    %b= t('payment.columns.amount')
    #italic= payment.amount
    %br
    %b= t('payment.columns.created_at')
    #italic= payment.created_at.strftime('%d-%m-%Y %H:%M:%S')
    %br
    %b= t('payment.user.columns.nickname')
    #italic= payment.user.nickname
    