%p#notice= notice
- breadcrumb :category, category
%h1 
  = category.name
%br
-if user_signed_in?
  #flip 
    %h3 Click to show new product form
  %br
  #panel
    = render 'products/form'

%br
#productlist
  -if category.products.empty?
    #empty No products in this category. Add new one!
  -else 
    %table.table.table-bordered
      %tr
        %th#th= t('product.columns.title')
        %th#th= t('product.columns.price')
        %th#th= t('product.columns.description')
        %th#th 
      - category.products.each do |product|
        %tr
          %td#title= link_to (markdown(product.title.capitalize)), category_product_url(category, product)
          %td= product.price
          %td#description= markdown(product.description)
          -if current_user && (current_user.id != product.user_id)
            %td= link_to 'Buy', category_product_path(product.category, product), class: 'btn btn-danger'
%br
-if is_admin?
  = link_to t('shared.edit'), edit_category_path(category), class: 'btn btn-info'
  \|
  = link_to t('shared.back'), categories_path, class: 'btn btn-warning'
-else 
  = link_to t('shared.back'), categories_path, class: 'btn btn-warning'
