%h1 Editing #{product.title}

= simple_form_for [category, product] do |f|
  - if product.errors.any?
    #error_explanation
      %h2= "#{pluralize(product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - product.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.input :description, class: 'form-control'
  .form-group#reviewrating
    = f.input :price, class: 'text_field', step: 0.01 , class: 'form-control'
  .form-group#reviewrating
    = f.input :on_stock, collection: 1..1000, class: 'form-control'
  .form-group
    = f.input :avatar, class: 'form-control'
  = f.submit t('shared.save'), class: 'btn btn-success'

%br
= link_to t('shared.show'), category_product_path(category, product), class: 'btn btn-info'
\|
= link_to t('shared.back'), category_path(category), class: 'btn btn-primary'
