%p#notice= notice
%p#error= flash[:error]

%h1 Product
#productlist
  %table.table.table-bordered
    %tr
      %th#tabletitle Title
      %td= markdown(product.title)
    %tr
      %th#tabletitle Description
      %td= markdown(product.description)
    %tr
      %th#tabletitle Price
      %td= markdown(product.price.to_s)
    %tr
      %th#tabletitle Category
      %td= markdown(product.category.name)
    %tr
      %th#tabletitle On stock
      %td= markdown(product.on_stock.to_s)
    %tr
      %th#tabletitle User
      %td= markdown(product.user.nickname)
    %tr
      %th#tabletitle Image
      %td= avatar_for(product)
%br
-if user_signed_in? && current_user.id != product.user_id 
  %h3 Buy this product
  %br
  = render 'payments/form'

%br
-if product.payments.empty?
  .panel-body#usercontent
    It wasn't any sales of this product.
-else
  %h3 List of product sales.
  = render payments

%br
-if user_signed_in?
  #flip
    %h3 Add review
  %br
  #panel
    = render 'reviews/form'

%br
-if product.reviews.empty?
  .panel-body#usercontent
    Product hasn't got any reviews. Add new one!
-else
  %h3 List of product reviews.
  = render reviews

%br
-if current_user && current_user == product.user
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-info'
  \|
= link_to 'Back', products_path, class: 'btn btn-primary'
