.panel.panel-default  
  .panel-body#usercontent
    %b= t('review.product.columns.title')
    #italic= markdown(review.product.title)
    %br
    %b= t('review.columns.content')
    #italic= markdown(review.content)
    %br
    %b= t('review.columns.rating')
    #italic= review.rating
    %br
    %b= t('review.columns.created_at')
    #italic= "#{time_ago_in_words(review.created_at)} ago"
    %br
    %b= t('review.user.columns.nickname')
    #italic= review.user.nickname
    